body {
 background-color: #e8e8e8;
}

.textAlign {
    fill:  #565656;
    padding-left:1000px;
    font-family: 'Cutive', serif;
}

a{
    color: white;
    text-decoration: none;
}


.v1div{
    width: 33%;
    height:120px;
    float:left;
    /*border-right: #565656 solid .09px;*/
    /*background-color: red;*/
}

::selection {
  background: #ff4c4c; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ff4c4c; /* Gecko Browsers */
}

a:hover, text:hover{
    fill: #ff4c4c;
    color: #ff4c4c;
}

span{
  font-family: 'Roboto', sans-serif;
    width: 33%;
    height: 10%;
    margin-top: -10px;
    margin-bottom: 40px;
    background-color: #565656;
    color:#b2b2b2;
    float:left;
    /*border-bottom: solid black 1px;*/
    padding-top: 0;
}


h1, h2, p{
    padding-left: 9.5%;
    padding-right: 30%;
    font-family: 'Roboto', sans-serif;

}

h2, a, p{
    font-size: .8em;
    font-family: 'Roboto', sans-serif;


}
    
    
    
    
    
    
    
    
    
    