body {
    background-color: #ffeadd;
}

.textAlign {
    fill:  #6f7175;
    padding-left:1000px;
    font-family: 'Cutive', serif;
}

a{
    color: orange;
    text-decoration: none;
}


.v1div{
    width: 25%;
    height:120px;
    float:left;
    border-bottom: #b3b6bc solid .09px;
    /*background-color: red;*/
}

a:hover, text:hover{
    fill: orange;
    color: yellow;
}

span{
    font-family: 'Pavanam', sans-serif;
    width: 110%;
    height: 10%;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 40px;
    background-color: #69889b;
    color:#c0c1c4;
    float:left;
    /*border-bottom: solid black 1px;*/
    padding-top: 0;
}


h1, h2, p{
    padding-left: 3%;
    padding-right: 20%;
}
